#=== Compilation ===
*.o
*.a
*.exe
*.pyc
build.*
.build.*

#=== Profiling ===
profile_*
*.qdrep
*.sqlite
*.ncu-rep

#=== Perf data ===
*-perf-test-run*.json
***/perf/params*.txt

#=== Googletest ===
test/googletest

#=== Other ===
*.local.log
*.local
*~
local/
*.log
*.output
*.error
*.cobaltlog

