#=== Compilation ===
*.o
*.a
*.exe
*.mod
*.pyc
*.so
build.*
.build.*

#=== Profiling ===
nsight_logs
profile_*
*.qdrep
*.sqlite
*.ncu-rep
*.objdump*

#=== Perf data ===
*-perf-test-run*.json
**/perf/params*.txt

#=== Googletest ===
test/googletest

#=== Other ===
*.local.log
*.local
*~
local/
**/build/
*.log
*.output
*.error
*.cobaltlog
*.BKP
.DS_Store
*.bak
.vscode

#=== generic MG5, mostly related to gridpack generation ===
***/SubProcesses/*_results.dat
***/SubProcesses/P*/G[0-9]*
***/SubProcesses/P*/input_app.txt
***/SubProcesses/P*/symfact.dat
***/SubProcesses/P*/gensym
***/Cards/.delphes_trigger.dat
***/Cards/.plot_card.dat
***/Cards/run_card.dat.orig
***/Events
***/HTML
***/bin/TheChopper-pl
***/bin/clean4grid
***/bin/compile
***/bin/compile
***/bin/internal/gen_ximprove
***/bin/refine4grid
***/bin/replace.pl
***/bin/run.sh
***/bin/gridrun
*_gridpack.tar.gz
crossx.html

