#=== Compilation ===
*.o
*.a
*.exe
*.pyc
build.*
.build.*
epoch?*/*/*/include

#=== Profiling ===
nsight_logs
profile_*
*.qdrep
*.sqlite
*.ncu-rep
*.objdump*

#=== Perf data ===
*-perf-test-run*.json
***/perf/params*.txt

#=== Googletest ===
test/googletest

#=== Other ===
*.local.log
*.local
*~
local/
*.log
*.output
*.error
*.cobaltlog
*.BKP
