*.o
*.a
*.mod
events.lhe
input_sg.txt
results.dat
gensym
**/index.html
**/crossx.html
**/SubProcesses/randinit
**/ftn2[56]
**/SubProcesses/*/madevent*
**/__pycache__/
**/run_[0-9][0-9]
**/run_[0-9][0-9]_log.txt
**/HTML/results.pkl

// b/c of python ordering bug? May need to be removed again
**/SubProcesses/P1_[gg|qq]_txx/Hel/selection
