# Exclude from git commits all processes but eemumu and ggtt(g*)
pp_tt.auto
uu_tt.auto
uu_dd.auto
heft_gg_h.auto
heft_gg_h
bb_tt.auto

# Exclude from git commits the include subdirectories of all processes (include is now a build product)
include

