crossx.html
index.html
results.dat*
results.pkl
run_[0-9]*
events.lhe*
.libs
.cudacpplibs
madevent
madevent_fortran
madevent_cpp
madevent_cuda

G[0-9]*
ajob[0-9]*
input_app.txt
symfact.dat
gensym

py3_model.pkl
