name: C/C++ CI

on:
  push:
    branches: [ master ]
  #pull_request:
  #  branches: [ master ]

jobs:
  debug_builds:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        folder: [ epochX/cudacpp/ee_mumu.sa/SubProcesses/P1_Sigma_sm_epem_mupmum , epoch1/cuda/ee_mumu/SubProcesses/P1_Sigma_sm_epem_mupmum , epoch2/cuda/ee_mumu/SubProcesses/P1_Sigma_sm_epem_mupmum ]
      fail-fast: false
    steps:
    - uses: actions/checkout@v2
    - name: make debug
      run: make -C ${{ matrix.folder }} debug
  CPU:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        folder: [ epochX/cudacpp/ee_mumu.mad/SubProcesses/P1_epem_mupmum , epochX/cudacpp/gg_ttgg.mad/SubProcesses/P1_gg_ttxgg ]
        precision: [ d , f , m ]
        backend: [ cppnone, cppauto ]
      fail-fast: false
    steps:
    - uses: actions/checkout@v2
    - name: github PR info
      run: date; echo github.event.pull_request.head.sha='${{ github.event.pull_request.head.sha }}'
    - name: make info
      run: make BACKEND=${{ matrix.backend }} FPTYPE=${{ matrix.precision }} -C ${{ matrix.folder }} -f cudacpp.mk info
    - name: make
      run: make BACKEND=${{ matrix.backend }} FPTYPE=${{ matrix.precision }} -C ${{ matrix.folder }}
    - name: make test
      run: make BACKEND=${{ matrix.backend }} FPTYPE=${{ matrix.precision }} -C ${{ matrix.folder }} -f cudacpp.mk test
  CPU_MAC:
    runs-on: macos-latest
    env:
      FC: gfortran-14 # see #971
    strategy:
      matrix:
        folder: [ epochX/cudacpp/ee_mumu.mad/SubProcesses/P1_epem_mupmum, epochX/cudacpp/gg_ttgg.mad/SubProcesses/P1_gg_ttxgg ]
        precision: [ d , f , m ]
        backend: [ cppnone, cppsse4 ]
      fail-fast: false
    steps:
    - uses: actions/checkout@v2
    - name: github PR info
      run: date; echo github.event.pull_request.head.sha='${{ github.event.pull_request.head.sha }}'
    - name: make info
      run: make BACKEND=${{ matrix.backend }} OMPFLAGS= FPTYPE=${{ matrix.precision }} -C ${{ matrix.folder }} -f cudacpp.mk info
    - name: make
      run: make BACKEND=${{ matrix.backend }} OMPFLAGS= FPTYPE=${{ matrix.precision }} -C ${{ matrix.folder }}
    - name: make test
      run: make BACKEND=${{ matrix.backend }} OMPFLAGS= FPTYPE=${{ matrix.precision }} -C ${{ matrix.folder }} -f cudacpp.mk test
  GPU:
    runs-on: self-hosted
    env:
      CUDA_HOME: /usr/local/cuda/
      FC: gfortran
    strategy:
      matrix:
        folder: [ epochX/cudacpp/ee_mumu.mad/SubProcesses/P1_epem_mupmum , epochX/cudacpp/gg_ttgg.mad/SubProcesses/P1_gg_ttxgg ]
        precision: [ d , f , m ]
        backend: [ cppauto, cuda ]
      fail-fast: false
    steps:
    - uses: actions/checkout@v2
    - name: path
      run: echo "PATH=$PATH"
    - name: github PR info
      run: date; echo github.event.pull_request.head.sha='${{ github.event.pull_request.head.sha }}'
    - name: make info
      run: make BACKEND=${{ matrix.backend }} FPTYPE=${{ matrix.precision }} -C ${{ matrix.folder }} -f cudacpp.mk info
    - name: make
      run: make BACKEND=${{ matrix.backend }} FPTYPE=${{ matrix.precision }} -C ${{ matrix.folder }}
    - name: make test
      run: make BACKEND=${{ matrix.backend }} FPTYPE=${{ matrix.precision }} -C ${{ matrix.folder }} -f cudacpp.mk test
