name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  debug_builds:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        folder: [ epochX/cudacpp/ee_mumu.sa/SubProcesses/P1_Sigma_sm_epem_mupmum , epoch1/cuda/ee_mumu/SubProcesses/P1_Sigma_sm_epem_mupmum , epoch2/cuda/ee_mumu/SubProcesses/P1_Sigma_sm_epem_mupmum ]
      fail-fast: false
    steps:

    - uses: actions/checkout@v2
    - name: make cleanall
      run: make -C ${{ matrix.folder }} cleanall
    - name: make epochX/1/2
      run: make -C ${{ matrix.folder }} debug
  CPU:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        folder: [ epochX/cudacpp/ee_mumu.sa/SubProcesses/P1_Sigma_sm_epem_mupmum , epochX/cudacpp/gg_ttgg.sa/SubProcesses/P1_Sigma_sm_gg_ttxgg , epoch1/cuda/ee_mumu/SubProcesses/P1_Sigma_sm_epem_mupmum , epoch2/cuda/ee_mumu/SubProcesses/P1_Sigma_sm_epem_mupmum ]
        precision: [ d , f ]
      fail-fast: false
    steps:
    - uses: actions/checkout@v2
    - name: make cleanall
      run: make -C ${{ matrix.folder }} cleanall
    - name: make info
      run: make FPTYPE=${{ matrix.precision }} -C ${{ matrix.folder }} info
    - name: make
      run: make FPTYPE=${{ matrix.precision }} -C ${{ matrix.folder }}
    - name: make check
      run: make FPTYPE=${{ matrix.precision }} -C ${{ matrix.folder }} check
  CPU_MAC:
    runs-on: macos-latest
    env:
      FC: gfortran-11
    strategy:
      matrix:
        folder: [ epochX/cudacpp/ee_mumu.sa/SubProcesses/P1_Sigma_sm_epem_mupmum, epochX/cudacpp/gg_ttgg.sa/SubProcesses/P1_Sigma_sm_gg_ttxgg , epoch1/cuda/ee_mumu/SubProcesses/P1_Sigma_sm_epem_mupmum , epoch2/cuda/ee_mumu/SubProcesses/P1_Sigma_sm_epem_mupmum ]
        precision: [ d ]
      fail-fast: false
    steps:
    - uses: actions/checkout@v2
    - name: make cleanall
      run: make -C ${{ matrix.folder }} cleanall
    - name: make info
      run: make AVX=none OMPFLAGS= FPTYPE=${{ matrix.precision }} -C ${{ matrix.folder }} info
    - name: make
      run: make AVX=none OMPFLAGS= FPTYPE=${{ matrix.precision }} -C ${{ matrix.folder }}
    - name: make check
      run: make AVX=none OMPFLAGS= FPTYPE=${{ matrix.precision }} -C ${{ matrix.folder }} check
  GPU:
    runs-on: self-hosted
    env:
      FC: gfortran
      REQUIRE_CUDA: 1
    strategy:
      matrix:
        folder: [ epochX/cudacpp/ee_mumu.sa/SubProcesses/P1_Sigma_sm_epem_mupmum , epochX/cudacpp/gg_ttgg.sa/SubProcesses/P1_Sigma_sm_gg_ttxgg , epoch2/cuda/ee_mumu/SubProcesses/P1_Sigma_sm_epem_mupmum ]
        precision: [ d , f ]
      fail-fast: false
    steps:
    - uses: actions/checkout@v2
    - name: Add CUDA 11.6 to CUDA_HOME
      run: export CUDA_HOME=/usr/local/cuda-11.6/
    - name: make cleanall
      run: make -C ${{ matrix.folder }} cleanall
    - name: make info
      run: source /opt/rh/gcc-toolset-10/enable; make FPTYPE=${{ matrix.precision }} -C ${{ matrix.folder }} info
    - name: make
      run: source /opt/rh/gcc-toolset-10/enable; make FPTYPE=${{ matrix.precision }} -C ${{ matrix.folder }}
    - name: make check
      run: source /opt/rh/gcc-toolset-10/enable; make FPTYPE=${{ matrix.precision }} -C ${{ matrix.folder }} check