name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  debug_builds:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        folder: [ epoch1/cuda/ee_mumu/SubProcesses/P1_Sigma_sm_epem_mupmum , epoch2/cuda/ee_mumu/SubProcesses/P1_Sigma_sm_epem_mupmum , epochX/cudacpp/ee_mumu/SubProcesses/P1_Sigma_sm_epem_mupmum ]
    steps:
    - uses: actions/checkout@v2
    - name: make epoch1
      run: make -C ${{ matrix.folder }} debug
  CPU:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        folder: [ epoch1/cuda/ee_mumu/SubProcesses/P1_Sigma_sm_epem_mupmum , epoch2/cuda/ee_mumu/SubProcesses/P1_Sigma_sm_epem_mupmum , epochX/cudacpp/ee_mumu/SubProcesses/P1_Sigma_sm_epem_mupmum ]
        precision: [ d , f ]
    steps:
    - uses: actions/checkout@v2
    - name: make info
      run: make -C ${{ matrix.folder }} info
    - name: make
      run: make FPTYPE=${{ matrix.precision }} -C ${{ matrix.folder }}
    - name: make check
      run: make -C ${{ matrix.folder }} check
  CPU_MAC:
    runs-on: macos-latest
    strategy:
      matrix:
        folder: [ epoch1/cuda/ee_mumu/SubProcesses/P1_Sigma_sm_epem_mupmum , epoch2/cuda/ee_mumu/SubProcesses/P1_Sigma_sm_epem_mupmum , epochX/cudacpp/ee_mumu/SubProcesses/P1_Sigma_sm_epem_mupmum ]
        precision: [ d ]
    steps:
    - uses: actions/checkout@v2
    - name: make info
      run: make -C ${{ matrix.folder }} info
    - name: make
      run: make AVX=-march=native OMPFLAGS= FPTYPE=${{ matrix.precision }} -C ${{ matrix.folder }}
    - name: make check
      run: make -C ${{ matrix.folder }} check
  GPU:
    runs-on: self-hosted
    strategy:
      matrix:
        folder: [ epoch2/cuda/ee_mumu/SubProcesses/P1_Sigma_sm_epem_mupmum , epochX/cudacpp/ee_mumu/SubProcesses/P1_Sigma_sm_epem_mupmum ]
        precision: [ d , f ]
    steps:
    - uses: actions/checkout@v2
    - name: make info
      run: source /opt/rh/gcc-toolset-10/enable; make -C ${{ matrix.folder }} info
    - name: make
      run: source /opt/rh/gcc-toolset-10/enable; make FPTYPE=${{ matrix.precision }} -C ${{ matrix.folder }}
    - name: make check
      run: source /opt/rh/gcc-toolset-10/enable; make -C ${{ matrix.folder }} check
